.filter-wrap.row
  .col-xs-12
    .input-group.index-filter-button
      / quick search
      %span.input-group-btn
        %button.btn.btn-default.js-show-index-filters{:type => "button"}
          %span.icon.icon-chevron-right
          Filter
      = form_with url: admin_personas_path, method: :get do |form|
        = form.text_field :quick_search, class: 'form-control js-quick-search', placeholder: 'Quick search...'
      / / quick search
    #table-filter.well.filter-well{"data-hook" => ""}
      %div{"data-hook" => "admin_personas_index_search"}
        = form_with url: admin_personas_path, method: :get, class: 'spree/persona_search', id: 'spree/persona_search' do |form|
          .row
            .col-xs-12.col-md-16
              .form-group
                %label{:for => "q_nombre"} nombre
                = form.text_field "q[nombre]", class: 'form-control js-filterable'
          .row
            .col-xs-12.col-md-16
              .form-group
                %label{:for => "q_apellidos"} apellidos
                = form.text_field "q[apellidos]", class: 'form-control js-filterable'
          .row
            .col-xs-12.col-md-16
              .form-group
                %label{:for => "q_descripcion"} descripcion
                = form.text_field "q[descripcion]", class: 'form-control js-filterable'
          .form-actions{"data-hook" => "admin_personas_index_search_buttons"}
            %button.btn.btn-primary{"data-disable-with" => "Saving...", :name => "button", :type => "submit"}
              %span.icon.icon-search
              Filter Results
          %input{:name => "per_page", :type => "hidden", :value => "15"}/
