.row{"data-hook" => "admin_persona_form_fields"}
  .col-md-6
    = f.field_container :nombre, class: ['form-group'] do
      = f.label :nombre
      = f.text_field :nombre, class: 'form-control'
      = error_message_on :persona, :nombre
    = f.field_container :apellidos, class: ['form-group'] do
      = f.label :apellidos
      = f.text_field :apellidos, class: 'form-control'
      = error_message_on :persona, :apellidos
    = f.field_container :descripcion, class: ['form-group'] do
      = f.label :descripcion
      = f.text_area :descripcion, class: 'form-control'
      = error_message_on :persona, :descripcion
