.row{"data-hook" => "admin_layout_form_fields"}
  .col-md-6
    = f.field_container :name, class: ['form-group'] do
      = f.label :name
      = f.text_field :name, class: 'form-control'
      = error_message_on :layout, :name
    = f.field_container :header, class: ['form-group'] do
      = f.label :header
      = f.text_area :header, class: 'form-control'
      = error_message_on :layout, :header
    = f.field_container :body, class: ['form-group'] do
      = f.label :body
      = f.text_area :body, class: 'form-control'
      = error_message_on :layout, :body
    = f.field_container :footer, class: ['form-group'] do
      = f.label :footer
      = f.text_area :footer, class: 'form-control'
      = error_message_on :layout, :footer
    = f.field_container :custom_css, class: ['form-group'] do
      = f.label :custom_css
      = f.text_area :custom_css, class: 'form-control'
      = error_message_on :layout, :custom_css
    = f.field_container :custom_js, class: ['form-group'] do
      = f.label :custom_js
      = f.text_area :custom_js, class: 'form-control'
      = error_message_on :layout, :custom_js
    = f.field_container :front_default, class: ['form-group'] do
      = f.label :front_default
      = f.check_box :front_default, class: 'form-control'
      = error_message_on :layout, :front_default
    = f.field_container :back_default, class: ['form-group'] do
      = f.label :back_default
      = f.check_box :back_default, class: 'form-control'
      = error_message_on :layout, :back_default
    = f.field_container :analytics_code, class: ['form-group'] do
      = f.label :analytics_code
      = f.text_area :analytics_code, class: 'form-control'
      = error_message_on :layout, :analytics_code
