%table#listing_layouts.table{"data-hook" => ""}
  %thead
    %tr{"data-hook" => "admin_layouts_index_headers"}
      %th= t('activerecord.attributes.spree/layout.name')
      %th= t('activerecord.attributes.spree/layout.front_default')
      %th= t('activerecord.attributes.spree/layout.back_default')
      %th.actions{"data-hook" => "admin_layouts_index_header_actions"}
  %tbody
    - @layouts.each do |layout|
      %tr{:class => "#{cycle('odd', 'even')}", "data-hook" => "admin_layouts_index_rows", :id => "#{spree_dom_id layout}"}
        %td= link_to layout.name, edit_object_url(layout)
        %td= link_to layout.front_default, edit_object_url(layout)
        %td= link_to layout.back_default, edit_object_url(layout)
        %td.actions.text-right{"data-hook" => "admin_layouts_index_row_actions"}
          = link_to_edit layout, no_text: true
          = link_to_delete layout, no_text: true
= paginate @layouts
