%table#listing_layouts.table{"data-hook" => ""}
  %thead
    %tr{"data-hook" => "admin_layouts_index_headers"}
      %th= t('activerecord.attributes.spree/layout.name')
      %th= t('activerecord.attributes.spree/layout.type')
      %th.actions{"data-hook" => "admin_layouts_index_header_actions"}
  %tbody
    - @layouts.each do |layout|
      %tr{:class => "#{cycle('odd', 'even')}", "data-hook" => "admin_layouts_index_rows", :id => "#{spree_dom_id layout}"}
        %td= link_to layout.name, edit_object_url(layout)
        %td
          - if layout.front_default
            %span.label.label-success= t 'layouts.front_default'
          - if layout.back_default
            %span.label.label-warning= t 'layouts.back_default'
        %td.actions.text-right{"data-hook" => "admin_layouts_index_row_actions"}
          = link_to '<span class="icon icon-clone"></i>'.html_safe, clone_admin_layout_path(layout), class: 'btn btn-success btn-sm icon-link with-tip action-edit no-text', 'data-original-title': 'duplicar'
          = link_to_edit layout, no_text: true
          = link_to_delete layout, no_text: true
= paginate @layouts
