- content_for :page_title do
  = Spree.t(:cloning_layout)
%div{"data-hook" => "admin_layout_edit_form_header"}
  = render 'spree/shared/error_messages', target: @layout
%div{"data-hook" => "admin_layout_edit_form"}
  = form_with model: [:admin, @layout], local: true do |f|
    .row
      .col-md-12
        = render 'form', f: f
        = render 'spree/admin/shared/edit_resource_links'
