<div class="page-holder">
  <!-- Navbar -->
  <header class="header">
    <nav id='mainNav' class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="#page-top" class="navbar-brand">
            <h2>
              <span class="text-primary">Fotofusión</span>
              <span> Digital</span>
            </h2>
          </a>
          <div class="navbar-buttons">
            <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle navbar-btn">Menu<i class="fa fa-align-justify"></i></button>
          </div>
        </div>

        <div id="navigation" class="collapse navbar-collapse navbar-right">
          <%= render_menu %>
        </div>
      </div>
    </nav>
  </header>
  <!-- End Navbar -->


  <!-- Hero Section -->
  <section id="hero" class="hero">
    <div id="slider" class="sl-slider-wrapper">
      <div class="sl-slider">

        <!-- slide -->
        <div class="sl-slide bg-1" data-orientation="horizontal" data-slice1-rotation="-25" data-slice2-rotation="-25" data-slice1-scale="2" data-slice2-scale="2">
          <div class="sl-slide-inner" style="background-image: url('<%= image_url('hero-bg.jpg') %>');">
            <div class="container">
              <h2><span class="text-primary">Fotofusión Digital</span></h2>
              <h1>Revela tu mundo</h1>
            </div>
          </div>
        </div>

        <!-- slide -->
        <div class="sl-slide bg-2" data-orientation="vertical" data-slice1-rotation="10" data-slice2-rotation="-15" data-slice1-scale="1.5" data-slice2-scale="1.5">
          <div class="sl-slide-inner" style="background-image: url('<%= image_url('hero-bg02.jpg') %>');">
            <div class="container">
              <h1>Revela <br> <span class="text-primary">tu mundo </span></h1>
            </div>
          </div>
        </div>

        <!-- slide -->
        <div class="sl-slide bg-3" data-orientation="horizontal" data-slice1-rotation="3" data-slice2-rotation="3" data-slice1-scale="2" data-slice2-scale="1">
          <div class="sl-slide-inner" style="background-image: url('<%= image_url('hero-bg03.jpg') %>');">
            <div class="container">
              <h2> <span class="text-primary">Fotofusión Digital</span></h2>
            </div>
          </div>
        </div>

      </div><!-- End sl-slider -->

      <!-- slider pagination -->
      <nav id="nav-dots" class="nav-dots">
        <span class="nav-dot-current"></span>
        <span></span>
        <span></span>
      </nav>

      <!-- scroll down btn -->
      <a id="scroll-down" href="#about" class="hidden-xs"></a>

      <!-- social icons menu -->
      <div class="social">
        <div class="wrapper">
          <ul class="list-unstyled">
            <li><a href="https://www.facebook.com/May.Perez.Asturias/" title="facebook" target="_blank"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://twitter.com/FotoFusion_" title="twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://www.instagram.com/fotofusion_/" title="instagram" target="_blank"><i class="fa fa-instagram"></i></a></li>
          </ul>
          <span>Síguenos</span>
        </div>
      </div>
    </div><!-- End slider-wrapper -->
  </section><!-- End Hero Section -->



  <!-- Details -->
  <section id="details" class="details">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="heading text-center">
            <p>Puedes </p>
            <h5>Llamarnos</h5>
          </div>
          <a href="tel:985532601" class="phone">985 53 26 01</a>
        </div>

        <div class="col-sm-6">
          <div class="heading text-center">
            <p>Descrubre más</p>
          </div>
          <a href="#" class="reviews btn-unique"><i class="fa fa-angle-right"></i></a>
        </div>
      </div>
    </div>
  </section>
  <!-- End Details-->


  <!-- About Section -->
  <section id="about" class="about">
    <div class="container text-center">
      <header>
        <h2><%= t('home.section.about.print_your_moments', 'Imprime tus momentos') %></h2>
        <h3><%= t('home.section.about.reveal_your_world', 'Revelamos tu mundo') %></h3>
      </header>
      <p class="lead">
        <%= t('home.section.about.print_your_photos', 'Imprimimos tus fotos para que las tengas siempre cerca:<br>
        Si te gusta el formato clásico, cuadrado, polaroid o si quieres ampliar tus mejores momentos...') %>
      </p>
    </div>
  </section>
  <!-- End About Section -->

  <!-- Dishes Section -->
  <section id="dishes" class="dishes">
    <div class="container text-center">
      <header>
        <h2>Tipos de revelado</h2>
        <h3>¿cuál es tu tipo?</h3>
      </header>

      <!-- Set up your HTML -->
      <div class="owl-carousel owl-theme">
        <!-- item -->
        <div class="dish">
          <div class="profile">
            <%= image_tag 'dish-c.png', class: 'img-responsive', alt: 'dish name' %>
            <div class="price">
              <span>25uds</span>
            </div>
          </div>
          <div class="text">
            <h4>Revelado Clásico</h4>
            <p>Si eres de los que le gustan las cosas de toda la vida y quieres un recuerdo duradero...esta es tu opción</p>
          </div>
        </div>

        <!-- item -->
        <div class="dish">
          <div class="profile">
            <%= image_tag 'dish-b.png', class: 'img-responsive', alt: 'dish name' %>
            <div class="price">
              <span>+4 uds</span>
            </div>
          </div>
          <div class="text">
            <h4>Cuadrado</h4>
            <p>¿Te gusta un toque un poco original?<br>Pues este es tu formato!</p>
          </div>
        </div>

        <!-- item -->
        <div class="dish">
          <div class="profile">
            <%= image_tag 'dish-a.png', class: 'img-responsive', alt: 'dish name' %>
            <div class="price">
              <span>+20uds</span>
            </div>
          </div>
          <div class="text">
            <h4>Polaroid</h4>
            <p>Porque lo retro está más de moda de nunca...¿qué mejor que este formato que nunca siempre será actual?</p>
          </div>
        </div>

        <!-- item -->
        <div class="dish">
          <div class="profile">
            <%= image_tag 'dish-c.png', class: 'img-responsive', alt: 'dish name' %>
            <div class="price">
              <span>1+</span>
            </div>
          </div>
          <div class="text">
            <h4>Ampliaciones</h4>
            <p>Elige fotos originales y conviértelas en recuerdos que decoren y den un toque orignal a tu casa.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Dishes Section -->


  <!-- Menu Section -->
  <section id="menu" class="menu">
    <div class="container">
          <header class="text-center">
              <h2>Opciones de Revelado</h2>
              <h3>para que sepas todas tus opciones</h3>
          </header>

          <div class="menu">
              <!-- Tabs Navigatin -->
              <ul class="nav nav-tabs text-center has-border" role="tablist">
                  <li role="presentation" class="active"><a href="#clasico" aria-controls="clasico" role="tab" data-toggle="tab">Clásico</a></li>
                  <li role="presentation"><a href="#cuadrado" aria-controls="cuadrado" role="tab" data-toggle="tab">Cuadrado</a></li>
                  <li role="presentation"><a href="#polaroid" aria-controls="polaroid" role="tab" data-toggle="tab">Polaroid</a></li>
                  <li role="presentation"><a href="#ampliaciones" aria-controls="ampliaciones" role="tab" data-toggle="tab">Ampliaciones</a></li>

              </ul>

              <!-- Tab panes -->
              <div class="tab-content">

                  <!-- Breakfast Panel -->
                  <div role="tabpanel" class="tab-pane active" id="clasico">
                      <div class="row">
                          <!-- item -->
                          <div class="col-sm-6">
                              <div class="menu-item recommended has-border clearfix">
                                  <div class="item-details pull-left">
                                      <h5>Unidades</h5>
                                      <p>Por unidades a partir de 25</p>
                                  </div>
                                  <div class="item-price pull-right">
                                      <strong class="text-large text-primary">25uds</strong>
                                      <span class="text-medium">Mínimo</span>
                                  </div>
                              </div>
                          </div>
                          <!-- item -->
                          <div class="col-sm-6">
                              <div class="menu-item recommended has-border clearfix">
                                  <div class="item-details pull-left">
                                      <h5>Tamaños</h5>
                                      <p>10x15 / 11x15 / 13x18 / 15x20 </p>
                                  </div>

                              </div>
                          </div>


                          <!-- item -->
                          <div class="col-sm-6">
                              <div class="menu-item recommended has-border clearfix">
                                  <div class="item-details pull-left">
                                      <h5>Bordes</h5>
                                      <p>sin borde / Con borde 3 mm / con faldones respetando foto</p>
                                  </div>

                              </div>
                          </div>
                          <!-- item -->
                          <div class="col-sm-6">
                              <div class="menu-item recommended has-border clearfix">
                                  <div class="item-details pull-left">
                                      <h5>Papeles</h5>
                                      <p>Lustre Fuji alta calidad / Brillo Fuji HD / Mate (Epson art mate)</p>
                                  </div>

                              </div>
                          </div>

                  </div><!-- End Breakfast Panel-->

                  <!-- lunch Panel -->
                  <div role="tabpanel" class="tab-pane fade" id="cuadrado">
                      <div class="row">
                        <!-- item -->
                        <div class="col-sm-6">
                            <div class="menu-item recommended has-border clearfix">
                                <div class="item-details pull-left">
                                    <h5>Unidades</h5>
                                    <p>Por unidades a partir de 25</p>
                                </div>
                                <div class="item-price pull-right">
                                    <strong class="text-large text-primary">25uds</strong>
                                    <span class="text-medium">Mínimo</span>
                                </div>
                            </div>
                        </div>
                        <!-- item -->
                        <div class="col-sm-6">
                            <div class="menu-item recommended has-border clearfix">
                                <div class="item-details pull-left">
                                    <h5>Tamaños</h5>
                                    <p>10x15 / 11x15 / 13x18 / 15x20 </p>
                                </div>

                            </div>
                        </div>


                        <!-- item -->
                        <div class="col-sm-6">
                            <div class="menu-item recommended has-border clearfix">
                                <div class="item-details pull-left">
                                    <h5>Bordes</h5>
                                    <p>sin borde / Con borde 3 mm / con faldones respetando foto</p>
                                </div>

                            </div>
                        </div>
                        <!-- item -->
                        <div class="col-sm-6">
                            <div class="menu-item recommended has-border clearfix">
                                <div class="item-details pull-left">
                                    <h5>Papeles</h5>
                                    <p>Lustre Fuji alta calidad / Brillo Fuji HD / Mate (Epson art mate)</p>
                                </div>

                            </div>
                        </div>
                  </div><!-- End lunch Panel-->



      </div>
  </section>
  <!-- End Menu Section -->




                        <!-- Services Section -->
                        <section id="services" class="services">
                            <div class="container text-center">
                                <header>
                                    <h2>¿Qué tenemos además de revelados?</h2>
                                    <h3>Tienes un montón de opciones que descubrir...</h3>
                                </header>

                                <div class="row" style="padding-bottom: 40px;">
                                    <!-- item -->
                                    <div class="col-sm-4 service">
                                        <div class="icon">
                                            <i class="icon-like"></i>
                                        </div>
                                        <div class="text">
                                            <h4>Sesiones</h4>
                                            <p>Siempre has querido una pero no te has atrevido...así que es el momento de hacerla o de regalarla!Hay cosas que hay que hacer al menos una vez en la vida...</p>
                                        </div>
                                    </div>

                                    <!-- item -->
                                    <div class="col-sm-4 service">
                                        <div class="icon">
                                            <i class="icon-smile"></i>
                                        </div>
                                        <div class="text">
                                            <h4>Calendarios</h4>
                                            <p>Para que empieces cada mes con buen pie y mejor imagen...con aquellas que te hacen feliz!</p>
                                        </div>
                                    </div>

                                    <!-- item -->
                                    <div class="col-sm-4 service">
                                        <div class="icon">
                                            <i class="icon-gift"></i>
                                        </div>
                                        <div class="text">
                                            <h4>Packs regalo</h4>
                                            <p>Un acierto seguro,si quieres que tenga un recuerdo de los que marcan la diferencia...los tenemos totalmente personalizados.</p>
                                        </div>
                                    </div>
                                    <!--fin primer bloque -->

                                </div>
                                <div class="row" style="padding-bottom: 40px;">
                                    <!-- item -->
                                    <div class="col-sm-4 service">
                                        <div class="icon">
                                            <i class="icon-like"></i>
                                        </div>
                                        <div class="text">
                                            <h4>Collages</h4>
                                            <p>Para los indecisos...Si no te decides por una sola foto o no sabes cómo ponerla...tenemos la solución y te quedará original y sin tener que elegir!</p>
                                        </div>
                                    </div>

                                    <!-- item -->
                                    <div class="col-sm-4 service">
                                        <div class="icon">
                                            <i class="icon-clock"></i>
                                        </div>
                                        <div class="text">
                                            <h4>Invitaciones</h4>
                                            <p>Para una boda o bautizos o comuniones...o cualquier día que quieras pasar con los tuyos. Tenemos el diseño que buscas.</p>
                                        </div>
                                    </div>

                                    <!-- item -->
                                    <div class="col-sm-4 service">
                                        <div class="icon">
                                            <i class="icon-gift"></i>
                                        </div>
                                        <div class="text">
                                            <h4>Álbum</h4>
                                            <p>Hojas de recuerdos,porque no hay nada más entrañable y genial que pasar con la gente que es importante para ti. Hazte con el tuyo</p>
                                        </div>
                                    </div>
                                    <!-- fin del segundo bloque -->
                            </div>
                        </section>
                        <!-- End Services Section -->








            <!-- App Section -->
            <section id="app" class="app">
                <div class="container text-center has-border">
                    <h5>"La fotografía es el medio adecuado para recrear el ahora,<br>el mundo vivo de nuestros días.”</h5>
                    <ul class="list-unstyled list-inline">

                        <li><a href="#"  title="Bootstrap Temple" class="btn-unique-white">Berenice Abbott</a></li>
                    </ul>
                </div>
            </section>
            <!-- End App Section -->





  <!-- Offers Section -->
  <section id="offers" class="offers">
      <div class="container text-center">

          <header>
              <h2>Descubre nuestros packs</h2>
              <h3>No te los puedes perder!</h3>
          </header>

          <div class="row">
              <div class="col-sm-4">
                  <div class="item">
                      <div class="discount">
                          <span>30 <br> €</span>
                      </div>
                      <div class="profile">
                        <%= image_tag 'dish-d.png', class: 'img-responsive', alt: 'dish name' %>
                      </div>
                      <div class="text">
                          <h4>Para papás</h4>
                          <p class="after text-primary text-large">30.00$</p>
                          <p class="before text-muted text-large">50.00$</p>
                      </div>
                  </div>
              </div>

              <div class="col-sm-4">
                  <div class="item">
                      <div class="discount">
                          <span>40% <br> Off</span>
                      </div>
                      <div class="profile">
                        <%= image_tag 'dish-d.png', class: 'img-responsive', alt: 'dish name' %>
                      </div>
                      <div class="text">
                          <h4>Para súper Abuelos</h4>
                          <p class="after text-primary text-large">30.00$</p>
                          <p class="before text-muted text-large">50.00$</p>
                      </div>
                  </div>
              </div>

              <div class="col-sm-4">
                  <div class="item">
                      <div class="discount">
                          <span>40% <br> Off</span>
                      </div>
                      <div class="profile">
                        <%= image_tag 'dish-d.png', class: 'img-responsive', alt: 'dish name' %>
                      </div>
                      <div class="text">
                          <h4>Para mamás</h4>
                          <p class="after text-primary">30.00$</p>
                          <p class="before text-muted">50.00$</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- End Offers Section -->



  <!-- Events Section -->
  <section id="events" class="events">
    <div class="container">
      <header class="text-center">
        <h2><%= t('home.section.events.title', 'Descubre nuestras sesiones') %></h2>
        <h3><%= t('home.section.events.subtitle', 'Un regalo con el que siempre acertarás') %></h3>
      </header>

      <div class="row">
        <!-- Profile Side  -->
        <div class="col-sm-6">
          <div class="profile has-border" style="background-image: url('<%= image_url('event-bg.jpg') %>');">
            <ul class="date list-unstyled list-inline clearfix">
              <li class="day pull-left"><%= t('home.section.events.first.image_text', 'Boda') %></li>
            </ul>
          </div>
        </div>

        <!-- Details Side  -->
        <div class="col-sm-6">
          <div class="details">
            <h3><%= t('home.section.events.first.title_side', 'Reportaje de Bodas') %></h3>
            <p class="lead">
              <%= t('home.section.events.first.text_side', 'Porque el día de tu boda será increíble pero pasará sin que te des cuenta de muchas cosas.Nosotros inmortalizaremos esos momentos increíbles para que tengáis el álbum de boda soñado.') %>
            </p>
            <a href="#contact" class="read-more btn-unique">Pide cita!</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Events Section -->


  <!-- Gallery Section -->
  <section id="gallery" class="gallery">
    <div class="container text-center">
      <header>
        <h2><%= t('home.section.gallery.title', 'Algunos de nuestros trabajos') %></h2>
        <h3><%= t('home.section.gallery.subtitle', 'Porque hay uno para cada ocasión!') %></h3>
      </header>

      <div class="gellery">
        <div class="row">
          <!-- Item -->
          <div class="col-md-3 col-sm-4 col-xs-6 col-xs-6 col-custom-12">
            <div class="item">
              <%= image_tag 'bg01.jpg' %>
              <%= link_to image_url('bg01.jpg'), class: 'has-border', 'data-lightbox': 'image-1', 'data-title': 'Image Caption' do %>
                  <span class="icon-search"></span>
              <% end %>
            </div>
          </div>
          <!-- Item -->
          <div class="col-md-3 col-sm-4 col-xs-6 col-custom-12">
            <div class="item">
              <%= image_tag 'bg02-small.jpg' %>
              <%= link_to image_url('bg02.jpg'), class: 'has-border', 'data-lightbox': 'image-1', 'data-title': 'Image Caption' do %>
                  <span class="icon-search"></span>
              <% end %>
            </div>
          </div>
          <!-- Item -->
          <div class="col-md-3 col-sm-4 col-xs-6 col-custom-12">
            <div class="item">
              <%= image_tag 'bg03-small.jpg' %>
              <%= link_to image_url('bg03.jpg'), class: 'has-border', 'data-lightbox': 'image-1', 'data-title': 'Image Caption' do %>
                  <span class="icon-search"></span>
              <% end %>
            </div>
          </div>
          <!-- Item -->
          <div class="col-md-3 col-sm-4 col-xs-6 col-custom-12">
            <div class="item">
              <%= image_tag 'bg-small.jpg' %>
              <%= link_to image_url('bg.jpg'), class: 'has-border', 'data-lightbox': 'image-1', 'data-title': 'Image Caption' do %>
                  <span class="icon-search"></span>
              <% end %>
            </div>
          </div>
          <!-- Item -->
          <div class="col-md-3 col-sm-4 col-xs-6 col-custom-12">
            <div class="item">
              <%= image_tag 'bg05-small.jpg' %>
              <%= link_to image_url('bg05.jpg'), class: 'has-border', 'data-lightbox': 'image-1', 'data-title': 'Image Caption' do %>
                  <span class="icon-search"></span>
              <% end %>
            </div>
          </div>
          <!-- Item -->
          <div class="col-md-3 col-sm-4 col-xs-6 col-custom-12">
            <div class="item">
              <%= image_tag 'bg06-small.jpg' %>
              <%= link_to image_url('bg06.jpg'), class: 'has-border', 'data-lightbox': 'image-1', 'data-title': 'Image Caption' do %>
                  <span class="icon-search"></span>
              <% end %>
            </div>
          </div>
          <!-- Item -->
          <div class="col-md-3 col-sm-4 col-xs-6 col-custom-12">
            <div class="item">
              <%= image_tag 'bg04-small.jpg' %>
              <%= link_to image_url('bg04.jpg'), class: 'has-border', 'data-lightbox': 'image-1', 'data-title': 'Image Caption' do %>
                  <span class="icon-search"></span>
              <% end %>
            </div>
          </div>
          <!-- Item -->
          <div class="col-md-3 col-sm-4 col-xs-6 col-custom-12">
            <div class="item">
              <%= image_tag 'bg07-small.jpg' %>
              <%= link_to image_url('bg07.jpg'), class: 'has-border', 'data-lightbox': 'image-1', 'data-title': 'Image Caption' do %>
                  <span class="icon-search"></span>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Gallery Section -->




  <!-- End Booking Section -->
  <section id="contact" class="contact">
    <div id="map"></div>
    <div class="container text-center">
      <div class="form-holder">
        <header>
          <h2><%= t('home.section.contact.write_us.title', 'Escríbenos') %></h2>
          <h3><%= t('home.section.contact.write_us.text', 'Si tienes cualquier duda puedes utilizar el formulario que tienes a continuación, llamarnos al 985 53 26 01 o escribirnos a info@fotofusion.com') %></h3>
        </header>
        <!-- render contact form -->
        <%= render_contact_form %>
      </div>
    </div>
  </section>
  <!-- End Booking Section -->



<!-- Footer -->
<footer id="mainFooter" class="mainFooter">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="header">
          <h2>
            <span class="text-primary">Fotofusión</span>
            <span> Digital</span>
          </h2>
        </div>
        <p><%= t('home.footer.left_column', 'Fotofusión es la muestra de todo lo que se hacer, aquí podrás encontrar una tienda online de revelado y regalos personalizados pero mucho más...Ya que hacemos reportajes de Bodas,Comuniones, de los más peques, de mascotas,de grupos o con esa persona que te ha robado el corazón...Véras que hacemos mucho más que hacer fotos...').html_safe %></p>
      </div>
      <div class="col-sm-6">
        <div class="header">
          <h6><%= t('home.footer.right_column', 'Contacto').html_safe %></h6>
        </div>
        <%= t('home.footer.right_column_contact_data', '<ul class="contact list-unstyled">
          <li>
            <span class="icon-map text-primary"></span>
            AV. ALCALDE JOSÉ FERNANDÍN,24 PIEDRAS BLANCAS
          </li>
          <li>
            <a href="mailto:info@fotofusion.com">
              <span class="icon-phone text-primary"></span>info@fotofusion.com
            </a>
          </li>
          <li><span class="icon-mail text-primary"></span>985 53 26 01</li>
        </ul>').html_safe %>

    </div>

    <ul class="social list-unstyled list-inline">
      <li><a href="https://www.facebook.com/May.Perez.Asturias/" target="_blank" title="Facebook"><i class="fa fa-facebook"></i></a></li>
      <li><a href="https://twitter.com/FotoFusion_" target="_blank" title="Twitter"><i class="fa fa-twitter"></i></a></li>
      <li><a href="https://www.instagram.com/fotofusion_/" target="_blank" title="Instagram"><i class="fa fa-instagram"></i></a></li>

    </ul>
  </div>

  <div class="copyrights">
    <div class="container">
      <div class="row">
        <div class="col-sm-5">
          <ul class="list-unstyled list-inline">
            <li><a href="#">Aviso Legal</a></li>
            <li><a href="#">Política de Cookies</a></li>
            <li><a href="#">Contacto</a></li>
          </ul>
        </div>

        <div class="col-sm-7">
          <p>&copy; 2017 Fotofusión Digital.</p>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- End Footer -->
