%ul#main_menu.nav.navbar-nav
  - @menu.each do |page|
    %li
      = link_to t("menu.first_lvl.#{page.name.parameterize}"), page.url, class: 'nav-link js-scroll-trigger'

  -if spree_current_user
    %li= link_to Spree.t(:my_account), spree.account_path, class: 'nav-link'
    %li= link_to Spree.t(:logout), spree.logout_path, class: 'nav-link'
  -else
    %li#link-to-login= link_to Spree.t(:login), spree.login_path

  %li= render partial: 'shared/cart'
