= form_with url: 'contacts/contact' do |f|
  .row.flash-notice-container
  .row
    .col-md-12.form-group
      = f.text_field 'contact[name]', class: 'form-control', placeholder: 'Nombre', required: true
  .row
    .col-md-12.form-group
      = f.text_field 'contact[email]', class: 'form-control', placeholder: 'Email', required: true
  .row
    .col-md-12.form-group
      = text_area_tag 'contact[text]', '', {class: 'form-control', placeholder: '¿En qué podemos ayudarte?', required: true}
  .row
    .col-md-12.form-group
      = f.submit 'Enviar', class: 'btn btn-primary'
