= form_with url: 'contacts/contact' do |f|
  .row.flash-notice-container
  .row
    %label.col-sm-6.unique{'for': 'user-name'}
      = t('home.form.label.name', 'Nombre')
      = f.text_field 'contact[name]', class: '', placeholder: '', required: true
    %label.col-sm-6.unique{'for': 'user-name'}
      = t('home.form.label.email', 'Email')
      = f.text_field 'contact[email]', class: '', placeholder: '', required: true
    %label.col-sm-12.unique{'for': 'user-name'}
      = t('home.form.label.your_message', 'Tu mensaje')
      = text_area_tag 'contact[text]', '', {class: '', placeholder: '', required: true}
    .col-sm-12
      = f.submit 'Enviar', class: 'btn-unique'
      / %button.btn-unique{'type': "submit"} Enviar
