.row{"data-hook" => "admin_template_form_fields"}
  .col-md-6
    = f.field_container :name, class: ['form-group'] do
      = f.label :name
      = f.text_field :name, class: 'form-control'
      = error_message_on :template, :name
    = f.field_container :header, class: ['form-group'] do
      = f.label :header
      = f.text_area :header, class: 'form-control'
      = error_message_on :template, :header
    = f.field_container :body, class: ['form-group'] do
      = f.label :body
      = f.text_area :body, class: 'form-control'
      = error_message_on :template, :body
    = f.field_container :footer, class: ['form-group'] do
      = f.label :footer
      = f.text_area :footer, class: 'form-control'
      = error_message_on :template, :footer
    = f.field_container :custom_css, class: ['form-group'] do
      = f.label :custom_css
      = f.text_area :custom_css, class: 'form-control'
      = error_message_on :template, :custom_css
    = f.field_container :custom_js, class: ['form-group'] do
      = f.label :custom_js
      = f.text_area :custom_js, class: 'form-control'
      = error_message_on :template, :custom_js
