%table#listing_templates.table{"data-hook" => ""}
  %thead
    %tr{"data-hook" => "admin_templates_index_headers"}
      %th= t(:name, scope: 'activerecord.attributes.spree/template')
      %th.actions{"data-hook" => "admin_templates_index_header_actions"}
  %tbody
    - @templates.each do |template|
      %tr{:class => "#{cycle('odd', 'even')}", "data-hook" => "admin_templates_index_rows", :id => "#{spree_dom_id template}"}
        %td= link_to template.name, edit_object_url(template)
        %td.actions.text-right{"data-hook" => "admin_templates_index_row_actions"}
          = link_to_edit template, no_text: true
          = link_to_delete template, no_text: true
= paginate @templates
