.row{"data-hook" => "admin_asociate_form_fields"}
  .col-md-8
    .col-md-8
      = f.field_container :email, class: ['form-group'] do
        = f.label :email
        = f.text_field :email, class: 'form-control'
        = error_message_on :asociate, :email
    .col-md-4
      = f.field_container :phone_number, class: ['form-group'] do
        = f.label :phone_number
        = f.text_field :phone_number, class: 'form-control'
        = error_message_on :asociate, :phone_number
    .col-md-4
      = f.field_container :name, class: ['form-group'] do
        = f.label :name
        = f.text_field :name, class: 'form-control'
        = error_message_on :asociate, :name
    .col-md-4
      = f.field_container :first_surname, class: ['form-group'] do
        = f.label :first_surname
        = f.text_field :first_surname, class: 'form-control'
        = error_message_on :asociate, :first_surname
    .col-md-4
      = f.field_container :second_surname, class: ['form-group'] do
        = f.label :second_surname
        = f.text_field :second_surname, class: 'form-control'
        = error_message_on :asociate, :second_surname
    .col-md-6
      = f.field_container :sex, class: ['form-group'] do
        = f.label :sex
        = f.select :sex, Spree::Asociate.sex_options, {}, class: 'select2'
        = error_message_on :asociate, :sex
    .col-md-6
      = f.field_container :birth_date, class: ['form-group'] do
        = f.label :birth_date
        = f.text_field :birth_date, value: datepicker_field_value(@asociate.birth_date), class: 'datepicker form-control'
        = error_message_on :asociate, :birth_date
    .col-md-3
      = f.field_container :document_type, class: ['form-group'] do
        = f.label :document_type
        = f.select :document_type, Spree::Asociate.document_type_options, {}, class: 'select2'
        = error_message_on :asociate, :document_type
    .col-md-9
      = f.field_container :document_number, class: ['form-group'] do
        = f.label :document_number
        = f.text_field :document_number, class: 'form-control'
        = error_message_on :asociate, :document_number

    .col-md-12
      %h4 Dirección
      %hr
    .col-md-3
      = f.field_container :street_type, class: ['form-group'] do
        = f.label :street_type
        = f.select :street_type, Spree::Asociate.street_type_options, {}, class: 'select2'
        = error_message_on :asociate, :street_type
    .col-md-9
      = f.field_container :street, class: ['form-group'] do
        = f.label :street
        = f.text_field :street, class: 'form-control'
        = error_message_on :asociate, :street
    .col-md-4
      = f.field_container :number, class: ['form-group'] do
        = f.label :number
        = f.text_field :number, class: 'form-control'
        = error_message_on :asociate, :number
    .col-md-4
      = f.field_container :floor, class: ['form-group'] do
        = f.label :floor
        = f.text_field :floor, class: 'form-control'
        = error_message_on :asociate, :floor
    .col-md-4
      = f.field_container :postal_code, class: ['form-group'] do
        = f.label :postal_code
        = f.text_field :postal_code, class: 'form-control'
        = error_message_on :asociate, :postal_code
    .col-md-6
      = f.field_container :city, class: ['form-group'] do
        = f.label :city
        = f.text_field :city, class: 'form-control'
        = error_message_on :asociate, :city
    .col-md-6
      = f.field_container :province, class: ['form-group'] do
        = f.label :province
        = f.text_field :province, class: 'form-control'
        = error_message_on :asociate, :province

    .col-md-12
      %h4 Datos bancarios
      %hr
    .col-md-2
      = f.field_container :iban, class: ['form-group'] do
        = f.label :iban
        = f.text_field :iban, class: 'form-control'
        = error_message_on :asociate, :iban
    .col-md-2
      = f.field_container :bank, class: ['form-group'] do
        = f.label :bank
        = f.text_field :bank, class: 'form-control'
        = error_message_on :asociate, :bank
    .col-md-2
      = f.field_container :bank_office, class: ['form-group'] do
        = f.label :bank_office
        = f.text_field :bank_office, class: 'form-control'
        = error_message_on :asociate, :bank_office
    .col-md-2
      = f.field_container :dc, class: ['form-group'] do
        = f.label :dc
        = f.text_field :dc, class: 'form-control'
        = error_message_on :asociate, :dc
    .col-md-4
      = f.field_container :account, class: ['form-group'] do
        = f.label :account
        = f.text_field :account, class: 'form-control'
        = error_message_on :asociate, :account

    .col-md-12
      %h4 Otros datos
      %hr
    .col-md-7
      = f.field_container :link_to_asociate, class: ['form-group'] do
        = f.label :link_to_asociate
        = f.select :link_to_asociate,
                    options_from_collection_for_select(Spree::Asociate.all, :id, :complete_name, f.object.link_to_asociate) ,
                    {}, class: 'select2'
        = error_message_on :asociate, :link_to_asociate
    .col-md-3
      = f.field_container :relationship, class: ['form-group'] do
        = f.label :relationship
        = f.select :relationship, Spree::Asociate.relationship_options, {}, class: 'select2'
        = error_message_on :asociate, :relationship
    .col-md-2
      = f.field_container :zitron, class: ['form-group'] do
        = f.label :zitron
        = f.check_box :zitron, class: 'form-control'
        = error_message_on :asociate, :zitron
    .col-md-6
      = f.field_container :start_date, class: ['form-group'] do
        = f.label :start_date
        = f.text_field :start_date, value: datepicker_field_value(@asociate.start_date), class: 'datepicker form-control'
        = error_message_on :asociate, :start_date
    .col-md-6
      = f.field_container :end_date, class: ['form-group'] do
        = f.label :end_date
        = f.text_field :end_date, value: datepicker_field_value(@asociate.end_date), class: 'datepicker form-control'
        = error_message_on :asociate, :end_date

    .col-md-12
      %h4 Datos del seguro
      %hr
    .col-md-4
      = f.field_container :sepa, class: ['form-group'] do
        = f.label :sepa
        = f.check_box :sepa, class: 'form-control'
        = error_message_on :asociate, :sepa
    .col-md-4
      = f.field_container :asociation_type, class: ['form-group'] do
        = f.label :asociation_type
        = f.check_box :asociation_type, class: 'form-control'
        = error_message_on :asociate, :asociation_type
    .col-md-4
      = f.field_container :medical_insurance, class: ['form-group'] do
        = f.label :medical_insurance
        = f.check_box :medical_insurance, class: 'form-control'
        = error_message_on :asociate, :medical_insurance
    .col-md-4
      = f.field_container :modality, class: ['form-group'] do
        = f.label :modality
        = f.select :modality, Spree::Asociate.modality_options, {}, class: 'select2'
        = error_message_on :asociate, :modality
    .col-md-4
      = f.field_container :insurance_start_date, class: ['form-group'] do
        = f.label :insurance_start_date
        = f.text_field :insurance_start_date, value: datepicker_field_value(@asociate.insurance_start_date), class: 'datepicker form-control'
        = error_message_on :asociate, :insurance_start_date
    .col-md-4
      = f.field_container :insurance_end_date, class: ['form-group'] do
        = f.label :insurance_end_date
        = f.text_field :insurance_end_date, value: datepicker_field_value(@asociate.insurance_end_date), class: 'datepicker form-control'
        = error_message_on :asociate, :insurance_end_date


    - unless @asociate.deleted_at.blank?
      .col-md-6
        = f.field_container :deleted_at, class: ['form-group'] do
          = f.label :deleted_at
          = f.text_field :birth_date, value: datepicker_field_value(@asociate.birth_date), class: 'datepicker form-control'
          = error_message_on :asociate, :deleted_at
  .col-md-4
    .col-md-12
      = f.field_container :user_id, class: ['form-group'] do
        = f.label :user_id
        = f.number_field :user_id, class: 'form-control'
        = error_message_on :asociate, :user_id
    .col-md-6
      = f.field_container :asociate_identifier, class: ['form-group'] do
        = f.label :asociate_identifier
        = f.number_field :asociate_identifier, class: 'form-control'
        = error_message_on :asociate, :asociate_identifier
    .col-md-6
      = f.field_container :asociate_code, class: ['form-group'] do
        = f.label :asociate_code
        = f.text_field :asociate_code, class: 'form-control'
        = error_message_on :asociate, :asociate_code

    .col-md-12
      %h4 Cuotas
      %hr
    .col-md-6
      = f.field_container :inscription_fee, class: ['form-group'] do
        = f.label :inscription_fee
        = f.text_field :inscription_fee, class: 'form-control'
        = error_message_on :asociate, :inscription_fee
    .col-md-6
      = f.field_container :incription_cuote, class: ['form-group'] do
        = f.label :incription_cuote
        = f.text_field :incription_cuote, class: 'form-control'
        = error_message_on :asociate, :incription_cuote
    .col-md-12
      %ul
        - Spree::Asociate.where(link_to_asociate: f.object.id).each do |user|
          %li= user.complete_name
