%table#listing_asociates.table.datatable.responsive.no-wrap{"data-hook" => ""}
  %thead
    %tr{"data-hook" => "admin_asociates_index_headers"}
      / %th= t('activerecord.attributes.spree/asociate.user_id')
      %th= t('activerecord.attributes.spree/asociate.asociate_identifier')
      / %th= t('activerecord.attributes.spree/asociate.asociate_code')
      / %th= t('activerecord.attributes.spree/asociate.zitron')
      / %th= t('activerecord.attributes.spree/asociate.link_to_asociate')
      / %th= t('activerecord.attributes.spree/asociate.start_date')
      / %th= t('activerecord.attributes.spree/asociate.end_date')
      / %th= t('activerecord.attributes.spree/asociate.sepa')
      / %th= t('activerecord.attributes.spree/asociate.medical_insurance')
      / %th= t('activerecord.attributes.spree/asociate.modality')
      / %th= t('activerecord.attributes.spree/asociate.insurance_start_date')
      / %th= t('activerecord.attributes.spree/asociate.insurance_end_date')
      / %th= t('activerecord.attributes.spree/asociate.relationship')
      %th= t('activerecord.attributes.spree/asociate.name')
      / %th= t('activerecord.attributes.spree/asociate.first_surname')
      / %th= t('activerecord.attributes.spree/asociate.second_surname')
      %th
        = t('activerecord.attributes.spree/asociate.document_type')
        = t('activerecord.attributes.spree/asociate.document_number')
      / %th= t('activerecord.attributes.spree/asociate.sex')
      / %th= t('activerecord.attributes.spree/asociate.birth_date')
      / %th= t('activerecord.attributes.spree/asociate.street_type')
      / %th= t('activerecord.attributes.spree/asociate.street')
      / %th= t('activerecord.attributes.spree/asociate.number')
      / %th= t('activerecord.attributes.spree/asociate.floor')
      / %th= t('activerecord.attributes.spree/asociate.city')
      / %th= t('activerecord.attributes.spree/asociate.province')
      / %th= t('activerecord.attributes.spree/asociate.postal_code')
      %th= t('activerecord.attributes.spree/asociate.phone_number')
      %th= t('activerecord.attributes.spree/asociate.email')
      / %th= t('activerecord.attributes.spree/asociate.iban')
      / %th= t('activerecord.attributes.spree/asociate.bank')
      / %th= t('activerecord.attributes.spree/asociate.bank_office')
      / %th= t('activerecord.attributes.spree/asociate.dc')
      / %th= t('activerecord.attributes.spree/asociate.account')
      / %th= t('activerecord.attributes.spree/asociate.inscription_fee')
      / %th= t('activerecord.attributes.spree/asociate.incription_cuote')
      / %th= t('activerecord.attributes.spree/asociate.deleted_at')
      %th.actions{"data-hook" => "admin_asociates_index_header_actions"}
  %tbody
    - @asociates.each do |asociate|
      %tr{:class => "#{cycle('odd', 'even')}", "data-hook" => "admin_asociates_index_rows", :id => "#{spree_dom_id asociate}"}
        / %td= link_to asociate.user_id, edit_object_url(asociate)
        %td= link_to asociate.identifier_code, edit_object_url(asociate)
        / %td= link_to asociate.zitron, edit_object_url(asociate)
        / %td= link_to asociate.link_to_asociate, edit_object_url(asociate)
        / %td= link_to asociate.start_date, edit_object_url(asociate)
        / %td= link_to asociate.end_date, edit_object_url(asociate)
        / %td= link_to asociate.sepa, edit_object_url(asociate)
        / %td= link_to asociate.medical_insurance, edit_object_url(asociate)
        / %td= link_to asociate.modality, edit_object_url(asociate)
        / %td= link_to asociate.insurance_start_date, edit_object_url(asociate)
        / %td= link_to asociate.insurance_end_date, edit_object_url(asociate)
        / %td= link_to asociate.relationship, edit_object_url(asociate)
        %td{'data-search': asociate.complete_name_search}
          = link_to asociate.complete_name, edit_object_url(asociate)
        %td= link_to asociate.document, edit_object_url(asociate)
        / %td= link_to asociate.sex, edit_object_url(asociate)
        / %td= link_to asociate.birth_date, edit_object_url(asociate)
        / %td= link_to asociate.street_type, edit_object_url(asociate)
        / %td= link_to asociate.street, edit_object_url(asociate)
        / %td= link_to asociate.number, edit_object_url(asociate)
        / %td= link_to asociate.floor, edit_object_url(asociate)
        / %td= link_to asociate.city, edit_object_url(asociate)
        / %td= link_to asociate.province, edit_object_url(asociate)
        / %td= link_to asociate.postal_code, edit_object_url(asociate)
        %td= link_to asociate.phone_number, edit_object_url(asociate)
        %td= link_to asociate.email, edit_object_url(asociate)
        / %td= link_to asociate.iban, edit_object_url(asociate)
        / %td= link_to asociate.bank, edit_object_url(asociate)
        / %td= link_to asociate.bank_office, edit_object_url(asociate)
        / %td= link_to asociate.dc, edit_object_url(asociate)
        / %td= link_to asociate.account, edit_object_url(asociate)
        / %td= link_to asociate.inscription_fee, edit_object_url(asociate)
        / %td= link_to asociate.incription_cuote, edit_object_url(asociate)
        / %td= link_to asociate.deleted_at, edit_object_url(asociate)
        %td.actions.text-right{"data-hook": "admin_asociates_index_row_actions"}
          = link_to_edit asociate, no_text: true
          = link_to_delete asociate, no_text: true
= paginate @asociates if @asociates.respond_to?(:current_page)

