- content_for :page_title do
  = link_to Spree.t(:listing_asociates), spree.admin_asociates_url
  = "/"
  = @asociate.complete_name.capitalize

- content_for :page_actions do
  = button_link_to Spree.t(:new_asociate), new_object_url, class: 'btn-success', icon: 'add', id: 'admin_new_asociate_link'

%div{"data-hook" => "admin_asociate_edit_form_header"}
  = render 'spree/shared/error_messages', target: @asociate
%div{"data-hook" => "admin_asociate_edit_form"}
  = form_with model: [:admin, @asociate], local: true do |f|
    .row
      .col-md-12
        = render 'form', f: f
    .row
      .col-md-12.fixed-bottom.option-bar
        = render 'spree/admin/shared/edit_resource_links'
