- content_for :page_title do
  = Spree.t(:new_asociate)
%div{"data-hook" => "admin_asociate_new_form_header"}
  = render 'spree/shared/error_messages', target: @asociate
%div{"data-hook" => "admin_asociate_new_form"}
  = form_with model: [:admin, @asociate], local: true do |f|
    .row
      .col-md-12
        = render 'form', f: f
        = render 'spree/admin/shared/new_resource_links'
