.row{"data-hook" => "admin_page_form_fields"}
  .col-md-6
    = f.field_container :name, class: ['form-group'] do
      = f.label :name
      = f.text_field :name, class: 'form-control'
      = error_message_on :page, :name
    = f.field_container :description, class: ['form-group'] do
      = f.label :description
      = f.text_area :description, class: 'form-control'
      = error_message_on :page, :description
    = f.field_container :link, class: ['form-group'] do
      = f.label :link
      %i= f.object.url
      = f.text_field :link, class: 'form-control'
      = error_message_on :page, :link
    = f.field_container :target_blank, class: ['form-group'] do
      = f.label :target_blank
      = f.check_box :target_blank, class: 'form-control'
      = error_message_on :page, :target_blank
    = f.field_container :in_menu, class: ['form-group'] do
      = f.label :in_menu
      = f.check_box :in_menu, class: 'form-control'
      = error_message_on :page, :in_menu
    = f.field_container :hidden, class: ['form-group'] do
      = f.label :hidden
      = f.check_box :hidden, class: 'form-control'
      = error_message_on :page, :hidden
    = f.field_container :is_home, class: ['form-group'] do
      = f.label :is_home
      = f.check_box :is_home, class: 'form-control'
      = error_message_on :page, :is_home
    = f.field_container :title, class: ['form-group'] do
      = f.label :title
      = f.text_field :title, class: 'form-control'
      = error_message_on :page, :title
    = f.field_container :keywords, class: ['form-group'] do
      = f.label :keywords
      = f.text_area :keywords, class: 'form-control'
      = error_message_on :page, :keywords
    = f.field_container :seo_code, class: ['form-group'] do
      = f.label :seo_code
      = f.text_area :seo_code, class: 'form-control'
      = error_message_on :page, :seo_code
    = f.field_container :publish_at, class: ['form-group'] do
      = f.label :publish_at
      = f.datetime_select :publish_at, class: 'form-control'
      = error_message_on :page, :publish_at
    = f.field_container :expire_at, class: ['form-group'] do
      = f.label :expire_at
      = f.datetime_select :expire_at, class: 'form-control'
      = error_message_on :page, :expire_at
    = f.field_container :body, class: ['form-group'] do
      = f.label :body
      = f.text_area :body, class: 'form-control'
      = error_message_on :page, :body
    = f.field_container :custom_css, class: ['form-group'] do
      = f.label :custom_css
      = f.text_area :custom_css, class: 'form-control'
      = error_message_on :page, :custom_css
    = f.field_container :custom_js, class: ['form-group'] do
      = f.label :custom_js
      = f.text_area :custom_js, class: 'form-control'
      = error_message_on :page, :custom_js
    = f.field_container :parent_id, class: ['form-group'] do
      = f.label :parent_id
      = f.select :parent_id, @pages.pluck(:name, :id), include_blank: "Página padre", class: 'form-control chosen'
      = error_message_on :page, :parent_id
    = f.field_container :layout_id, class: ['form-group'] do
      = f.label :layout_id
      = f.select :layout_id, @layouts.pluck(:name, :id), class: 'form-control chosen'
      = error_message_on :page, :layout_id
