%table#listing_pages.table.sortable{"data-hook" => "", "data-sortable-link" => update_positions_admin_pages_url}
  %thead
    %tr{"data-hook" => "admin_pages_index_headers"}
      %th.no-border
      %th= t('activerecord.attributes.spree/page.name')
      %th= t('activerecord.attributes.spree/page.link')
      %th= t('activerecord.attributes.spree/page.published')
      %th= t('activerecord.attributes.spree/page.parent_id')
      %th= t('activerecord.attributes.spree/page.layout_id')
      %th.actions{"data-hook" => "admin_pages_index_header_actions"}
  %tbody
    - @pages.each do |page|
      %tr{:class => "#{cycle('odd', 'even')}", "data-hook" => "admin_pages_index_rows", :id => "#{spree_dom_id page}"}
        %td.move-handle
          %span.icon.icon-move.handle
        %td= link_to page.name, edit_object_url(page)
        %td= link_to page.url, page.url, target: '_blank'
        %td
          - if page.publish?
            %span.label.label-success.with-tip{'data-original-title': "caduca en: #{distance_of_time_in_words(Time.now, page.expire_at) rescue 'sin caducidad'}"}= t 'pages.published'
          - else
            %span.label.label-danger.with-tip{'data-original-title': "caducó hace: #{distance_of_time_in_words(page.expire_at, Time.now) rescue 'aun no se publicó'}"}= t 'pages.unpublished'
        %td= link_to page.parent.name, edit_object_url(page.parent) rescue ''
        %td= page.layout.name
        %td.actions.text-right{"data-hook" => "admin_pages_index_row_actions"}
          = link_to '<span class="icon icon-clone"></i>'.html_safe, clone_admin_page_path(page), class: 'btn btn-success btn-sm icon-link with-tip action-edit no-text', 'data-original-title': 'duplicar'
          = link_to_edit page, no_text: true
          = link_to_delete page, no_text: true
= paginate @pages
