- content_for :page_title do
  = Spree.t(:editing_page)
%div{"data-hook" => "admin_page_edit_form_header"}
  = render 'spree/shared/error_messages', target: @page
%div{"data-hook" => "admin_page_edit_form"}
  = form_with model: [:admin, @page], local: true do |f|
    .row
      .col-md-12
        = render 'form', f: f
        = render 'spree/admin/shared/edit_resource_links'
