%table#listing_configurations.table{"data-hook" => ""}
  %thead
    %tr{"data-hook" => "admin_configurations_index_headers"}
      %th= t('activerecord.attributes.spree/configuration.key')
      %th= t('activerecord.attributes.spree/configuration.value')
      %th= t('activerecord.attributes.spree/configuration.editable')
      %th.actions{"data-hook" => "admin_configurations_index_header_actions"}
  %tbody
    - @configurations.each do |configuration|
      %tr{:class => "#{cycle('odd', 'even')}", "data-hook" => "admin_configurations_index_rows", :id => "#{spree_dom_id configuration}"}
        %td= link_to configuration.key
        %td= link_to configuration.value
        %td= configuration.editable
        %td.actions.text-right{"data-hook" => "admin_configurations_index_row_actions"}
          = link_to_edit configuration, no_text: true if configuration.editable
          = link_to_delete configuration, no_text: true if configuration.editable
= paginate @configurations
