.row{"data-hook" => "admin_page_image_form_fields"}
  .col-md-6
    = f.field_container :title, class: ['form-group'] do
      = f.label :title
      = f.text_field :title, class: 'form-control'
      = error_message_on :page_image, :title
    = f.field_container :alt, class: ['form-group'] do
      = f.label :alt
      = f.text_field :alt, class: 'form-control'
      = error_message_on :page_image, :alt
    = f.field_container :attachment, class: ['form-group'] do
      = f.label :attachment
      = f.file_field :attachment, class: 'form-control'
      = error_message_on :page_image, :attachment
      - if f.object.attachment_file_name
        %br/
        %br/
        = image_tag f.object.attachment.url(:large)
