- content_for :page_title do
  = Spree.t(:listing_page_images)
- content_for :page_actions do
  = button_link_to Spree.t(:new_page_image), new_object_url, class: 'btn-success', icon: 'add', id: 'admin_new_page_image_link'
- end if can?(:create, Spree::PageImage)
= render 'form_filter'
.index-content
  = render 'index'

= render 'shared/modals'
