<% content_for :page_title do %>
  <%= Spree.t(:listing_marcas) %>
<% end %>

<% content_for :page_actions do %>
  <%= button_link_to Spree.t(:new_marca), new_object_url, class: 'btn-success', icon: 'add', id: 'admin_new_marca_link' %>
<% end if can?(:create, Spree::Marca) %>

<table class="table" id="listing_marcas" data-hook>
  <thead>
    <tr data-hook="admin_marcas_index_headers">
      <th><%= t(:name, scope: 'activerecord.attributes.spree/marca') %></th>
      <th data-hook="admin_marcas_index_header_actions" class="actions"></th>
    </tr>
  </thead>
  <tbody>
    <% @marcas.each do |marca| %>
      <tr id="<%= spree_dom_id marca %>" data-hook="admin_marcas_index_rows" class="<%= cycle('odd', 'even')%>">
        <td><%= link_to marca.name, edit_object_url(marca) %></td>
        <td data-hook="admin_marcas_index_row_actions" class="actions text-right">
          <%= link_to_edit marca, no_text: true %>
          <%= link_to_delete marca, no_text: true %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @marcas %>
