!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title MiShop
    = csrf_meta_tags
    = yield :page_seo

    %link{ href:'https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800', rel:'stylesheet', type:'text/css' }

    %link{ href:'https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic', rel:'stylesheet', type:'text/css'}
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'

    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body#page-top{class: "layout-#{@page.layout.name.parameterize} page-#{@page.name.parameterize }"}
    = yield
    = yield :page_css
    = yield :page_js

